<h1>Hello there, <%= @recipient %></h1>
<p>Your password for QD Student Connection account <strong><%= @login_id %></strong> is :</p>
<h4><%= @pass %></h4>

<footer>
  <p>QD Student Connection, QD Students Union, 2016</p>
</footer>
