<h1>Hello there, <%= @recipient %></h1>

<p>Your login id for QD Student Connection is :</p>
<h4><%= @login_id %></h4>
<p>Your password for QD Student Connection is :</p>
<h4><%= @pass %></h4>

<p>Please try to login to this to make sure that you received the correct id and password</p>
<a href="localhost:28000">Click here to access this system!</a>

<footer>
  <p>QD Student Connection, QD Students Union, 2016</p>
</footer>
